body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    background-color: #007BFF;
    color: white;
    padding: 10px;
}

form {
    margin-top: 20px;
}

#submit-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#submit-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#loading-text {
    font-weight: bold;
    color: #007BFF;
    display: none;
}

.result {
    margin-top: 20px;
    border: 1px solid #007BFF;
    padding: 10px;
    background-color: #E8F4FF;
}
